Flask==0.10.1
Jinja2==2.7.1
MarkupSafe==0.18
Werkzeug==0.9.4
itsdangerous==0.23

nose==1.3.0

xtraceback==0.3.3
Pygments==1.6

sniffer==0.3.2
colorama==0.2.7
python-termstyle==0.1.10
MacFSEvents==0.3  # Mac OS X specific dependency

# Mac OS X specific dependencies
gntplib==0.5

flake8==2.1.0
pyflakes==0.7.3
pep8==1.4.6
mccabe==0.2.1

invoke==0.6.1
